
@forward "global";
@forward  "navBar";
@forward  "header";
@forward "section";
@forward "footer";
@forward  "sign";


:root{
    --padding-inline : 1.2rem;
    --greyText :#6B6B6B;
    --white : #FFFFFF;
}












